.settings-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #c89eb3;
    min-height: 90vmin;
    padding: 10px;
    color: white;
}

.settings-background-text {
    margin: 15px;
}

.settings-background-dropdown {
  margin: 15px;
  width: 10vw;
}