body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    color: rgb(255, 252, 60);
}
  
.header {
    background-color: rgb(26, 8, 129);
    color: yellow;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    grid-area: header;
    text-align: right;
    font-size: 25px;
}


.footer {
      color: rgb(255, 255, 255);
      background-color: rgb(228, 0, 0);
      padding: 25px;
      grid-area: footer;
      text-align: center;
      position: fixed;
      width: 75%;
      bottom: 0;
      /* margin-right: 20px; */
      margin-left: 20px;
    }
  
.wrapper {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-areas: 
      'header header header header' 
      'left  middle middle right' 
      'footer footer footer footer';
}
  
.container-middle {
    margin: 20px;
    padding: 10px;
    border: solid 9px rgb(48, 120, 122);
    background-color: rgb(194, 115, 151);
}

.container-right {
    margin: 20px;
    padding: 10px;
    border: solid 9px rgb(139, 160, 94);
    background-color: rgb(230, 107, 26);
    /* opacity: 70%; */
}

.display-header {
    font-size: 15px;
}

.create-account-display,
.account-display,
.balances-display {
    border: solid 2px rgb(245, 232, 49);
    margin: 10px;
    padding: 5px;
}
  
.container-left {
    grid-area: left;
    border: solid 9px yellow;
    height: 200PX;
    margin: 20px;
    padding: 10px;
    background-color: rgb(251, 0, 0);
    
}

.create-account-display {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 125px;
}

.create-account-text,
.create-account-name-input,
.create-account-balance-input {
    margin: 5px;
    padding: 5px;
}

.create-account-button {
    margin: 10px 5px 5px 5px;
}
  
.container-middle {
    grid-area: middle;
    height: 75%;
}

.account-display {
    height: 90%;
    overflow: auto;
}

.account-card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 25px;
    padding: 10px;
}

.account-card:nth-child(odd) {background-color:  rgb(105, 208, 226);}

.account-input {
    margin: 0px 5px 0px 15px;
}

.account-button {
    margin: 0px 5px 0px 5px;
}

.create-account-text,
.account-name,
.account-balance {
    float: left;
    margin: 0px 5px 0px 5px;
}

.dollar {
    justify-self: right;
    margin: 0px 0px 0px 15px;
}

.container-right {
    grid-area: right;
    height: 600px;
}

.balances-display {
    height: 135px;
    padding: 20px;
    text-align: center;
}

.balances-display-balance,
.balances-display-balance-total {
    font-size: 30px;
}

.create-account-display-header,
.account-display-header,
.accounts-information-display-header {
    font-size: 20px;
    margin: 5px;
}