
#idCompany {
    margin: 20px;
    padding: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: yellow;
    background-color: darkblue;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    
}

#idAccountRegister {
    float: left;
    background-color: red;
    color: yellow;
    border: solid 20px;
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: right;
}

#idAccountList {
    background-color: rgb(138, 110, 165);
    color: darkblue;
    list-style: none;
    float: left;
    border: solid 15px;
    border-color: darkblue;
    margin: 30px;
    padding: 50px;
}

#idHighestAccount, #idLowestAccount, #idOverallSumBalance {
    float: left;
    background-color:  rgb(231, 115, 61);
    color: rgb(226, 222, 1);
    border: solid 20px  rgb(120, 134, 90);
    padding: 30px;
    margin: 20px;
    height: 175px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large ;
    
}



#idAnita, .newAccount {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: dashed 5px;
    color: rgb(34, 0, 128);
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    

}

#idAnita {
    background-color: palevioletred;
}

#idSelectedAccount {
    background-color: palevioletred;
    color: rgb(10, 10, 85);
    float:right;
    border: dashed 7px rgb(53, 100, 155);
    padding: 50px;
    margin: 30px;
    
}


#idSelectAccRight {
    border-left: dashed;
    padding: 20px;
}

body {
    background-color: rgb(199, 208, 212);
}
