

.basicDOMM {
    float: left;
    border: solid;
    text-align: center;
    margin: 20px auto;
    margin-left: 30px;
    width: 600px;
    height: 500px;
    height: auto;

    padding: 20px;
    background-color: rgb(250, 217, 186);
   
}

.rightCards {
    border: solid;
    float: right;
    width: 400px;
    height: 400px;
    padding: 20px;
    margin: 20px;;
    margin-right: 30px;
    
    background-color: rgb(141, 145, 206);
    text-align: center;
}

.cardArea, .cardFullArea {
    background-color: rgb(168, 206, 176);
    padding: 20px;
    border: dashed;
    margin-bottom: 20px;

}
