
#idCompany {
    margin: 20px;
    padding: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: yellow;
    background-color: darkblue;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    
}

#idAccountRegister {
    background-color: red;
    color: yellow;
    border: solid 20px;
    padding: 30px;
    margin: 20px;
}

#idAccountList {
    background-color: rgb(30, 255, 0);
    color: darkblue;
    list-style: none;
    float: left;
    border: solid 15px;
    border-color: darkblue;
    margin: 30px;
    padding: 50px;

}
#idSally, #idAnita, #idKevin {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: dashed 5px;
    color: rgb(34, 0, 128);
    list-style: none;

}

#idAnita {
    background-color: palevioletred;
}

#idSelectedAccount {
    background-color: palevioletred;
    color: rgb(10, 10, 85);
    float:right;
    border: dashed 7px rgb(53, 100, 155);
    padding: 50px;
    margin: 30px;
    
}

#idSelectAccLeft {
    float: left;
}

#idSelectAccRight {
    float: right;
    border-left: dashed;
    padding: 20px;
}
